<!DOCTYPE html>
<html ng-app="app">
	<head>
		<link type="text/css" rel="stylesheet" href="css/main.css">
		
		<title>Jiracet</title>
	</head>
	
	<body ng-controller="TabController as tab">
	<!-- Header -->
	<header id="header">
		<div id="menu">
			<h2>Joseph Suh</h2>
			<section class="tab">
				<ul>
					<li ng-class="{active:tab.isSelected(1)}">
						<a href ng-click="tab.selectTab(1)">Home</a>
					</li>
					<li ng-class="{active:tab.isSelected(2)}">
						<a href ng-click="tab.selectTab(2)">Projects</a>
					</li>
					<li ng-class="{active:tab.isSelected(3)}">
						<a href ng-click="tab.selectTab(3)">Resume</a>
					</li>
					<li ng-class="{active:tab.isSelected(4)}">
						<a href ng-click="tab.selectTab(4)">Contact</a>
					</li>
				</ul>
			</section>
		</div>
	</header>
	
	<!-- Content -->
	<div id="main">
		<div id="main-content">
			<div ng-show="tab.isSelected(1)">
					<a href="https://play.google.com/store/apps/details?id=com.jiracet.chroma" target="_blank">
						<img src="images/Header.png" id="homeimage">
					</a>
					<h2>Chroma is available now!</h2>
					<p>Chroma is a colorful, quirky and fast-paced 2D action game in the style of bullet hell "danmaku" shooters featuring a cheery art style inspired by games like Katamari Damacy. Swiftly skirt, sidestep and strafe through a myriad of endless unique bullet patterns to survive!</p>
					<p>DIFFICULTY: As you progress levels in each run, the game's difficulty increases making it accessible for both beginners and experts alike.</p>
					<p>ACHIEVEMENTS: Test your skill by unlocking achievements in the game!</p>
					<p>MUSIC: Listen to cute and colorful J-pop style themes while you play!</p>
					<p>PATTERNS: Survive through 100+ unique bullet patterns!</p>
				<a href="https://play.google.com/store/apps/details?id=com.jiracet.chroma" target="_blank">
					>>Out now on Google Play Store
				</a>

			</div>
			
			<div ng-show="tab.isSelected(2)">
				2
			</div>
			
			<div ng-show="tab.isSelected(3)">
				3
			</div>
			
			<div ng-show="tab.isSelected(4)">
				<img src="images/Avatar.jpg" id="avatarimage">
				<p>I am a computer science student at the University of Waterloo. I like to experiment with</p>
				<p>'black sheep' game genres and try to create new and interesting experiences. They may not always</p>
				<p>be good, but they are different.</p>
				<a href="https://github.com/Jiracet">Github</a>
				<a href="mailto:jsuh96@gmail.com">Email</a>
				<a href="https://ca.linkedin.com/pub/joseph-suh/a3/205/1/">LinkedIn</a>
			</div>
		</div>
	</div>
	
	<!-- Footer -->
	<footer>
		<a href="#" id="to-top" style="display:block">To top</a>
	</footer>
	
	<!-- Javascript -->
	<script src="js/jquery-2.1.1.min.js"></script>
	<script src="js/jquery.color-2.1.2.min.js"></script>
    <script src="js/angular.min.js"></script>

	<script src="js/app.js"></script>

	<script src="js/controllers/tabcontroller.js"></script>
	
	</body>
</html>
